{% extends 'snippets/layout.html' %}

{% block title %} Add {% endblock %}

{% block content %}

<div>
  <h1>Add a Snippet</h1>
  <div class="nav_buttons">
    <button><a href="/">Home</a></button>
    <button><a href="/add">Add Snippets</a></button>
    <button><a href="/detail/1">View Details</a></button>
  </div>

</div>

<form method="post" action="{% url 'snippets:add' %}" class="form">

  {% csrf_token %}

  {% for field in form %}
  <div class="form-group">
    {{ field.errors }}

    {{ field.label_tag }}
    {{ field }}
  </div>
  {% endfor %}
  <div class="submit_button_container">
    <button type="submit" class="submit_button">Submit</button>
  </div>

</form>

{% endblock %}