{% extends 'snippets/layout.html' %}

{% block title %} Detail {% endblock %}

{% block content %}


<div>
  <h1>Snippet Details</h1>
  <div class="nav_buttons">
    <button><a href="/">Home</a></button>
    <button><a href="/add">Add Snippets</a></button>
    <button><a href="/detail/1">View Details</a></button>
  </div>
</div>

<table class="">
  <tr>
    <th>Title</th>
    <th>Snippet</th>
    <th>Language</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>{{ snippet.title }}</td>
    <td>{{ snippet.snippet }}</td>
    <td>{{ snippet.language }}</td>
    <td>{{ snippet.description }}</td>
  </tr>

</table>

{% endblock %}