{% extends 'snippets/layout.html' %}

{% block title %} Index {% endblock %}

{% block content %}

<div>
  <h1>Code Snippets</h1>
  <div class="nav_buttons">
    <button><a href="/">Home</a></button>
    <button><a href="/add">Add Snippets</a></button>
    <button><a href="/detail/1">View Details</a></button>
  </div>
</div>
{% if snippet_list %}
<ul>
  {% for snippet in snippet_list %}
  <li class="list_item">{{ snippet }}</li>
  {% endfor %}
</ul>
{% else %}
<p>No snippets yet.</p>
{% endif%}

{% endblock %}