* {
  font-family: futura;
}

body {
  background: rgb(71, 125, 226);
  background: linear-gradient(180deg, rgba(71, 125, 226, 1) 0%, rgba(109, 83, 141, 1) 45%, rgba(196, 48, 48, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
}

.input {
  margin: 10px;
  font-size: 20px;
  border-radius: 7px;
  border: 1px silver solid;
  padding: 5px;
}

#submit_button {
  width: 205px;
  font-size: 20px;
  border-radius: 7px;
}

#button_container {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  color: white;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin: auto; */
  /* width: 100%; */
  margin: 20px;
  padding: 0px;
}

li {
  background: white;
  padding: 13px;
  list-style: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

table, th, td {
  color: black;
  border-radius: 10px;
}

table {
  border: 0px;
}

table {
  width: 100%;
}

th {
  height: 50px;
  background: white;
}

td {
  text-align: center;
  background: white;
}

.nav_buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 0px;
}

input:focus, button:focus {
  outline: none;
}

label {
  width: 400px;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

button {
  margin: 20px;
  width: 95px;
  font-size: 16px;
  width: 135px;
  border-radius: 5px;
}

.submit_button {}

.submit_button_container {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}